APP_NAME="GR Multi Aggregator"
APP_ENV=local
APP_DEBUG=true
DASHBOARD_PORT=4000
API_PORT=4001

# Database Configuration
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=gr-flight-service

# JWT Authentication
JWT_SECRET=super_secret_jwt_key

# Opsigo Configuration
OPSIGO_PREF_AIRLINE=